<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.be.poten.mapper.CrawlerMapper">

    <insert id="insertArticleList">
        insert ignore into article (article_id, category_id, article_created_date, company, title, content, url, img_url)
        values
        <foreach item="item" index="index" collection="articleList" separator=",">
        (#{item.articleId}, #{item.categoryId}, #{item.articleCreatedDate}, #{item.company}, #{item.title}, #{item.content}, #{item.url}, #{item.imgUrl})
        </foreach>
    </insert>

</mapper>